{% extends 'AdminBundle:Default:index.html.twig' %}
{% block style %}
{% endblock %}
{% block job %}
<div class="panel panel-default chat">
					<div class="panel-heading" style="background-color:#ffc800">
						Colis({{nb_col}})
						<span class="pull-right clickable panel-toggle panel-button-tab-left">
							<em class="fa fa-toggle-up"></em></span>
					</div>
					<div class="panel-body">
						<ul>
							{% for coli in coli %}
							<li class="right clearfix"><span >
								<img src="{{ asset('uploads/images/' ~ coli.idannonceur.path) }}" alt="User Avatar" class="img-circle" width="35" height="35" class=" pull-right">
								</span>
								<div class="chat-body clearfix">
									<div class="header"><strong class="pull-left primary-font">
									{{ coli.idannonceur.username}}</strong> <small class="text-muted">{{ coli.datePublication|date('Y/m/d') }}</small></div><br>
									<strong> De: {{ coli.paysDepart  }}</strong>
                                    <i class="fas fa-arrow-right"> 
                                     </i><strong> A :{{ coli.paysDestination}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                     <i class="fas fa-calendar-alt"></i>
                                     <b>Date Debut:</b>&nbsp;{{ coli.dateDebut|date('d/m/Y')}}&nbsp;&nbsp;&nbsp;
                                     <b>Date Fin :</b>&nbsp;{{ coli.dateFin|date('d/m/Y')}}
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                     <b>Photo:</b>
                                      <img src="{{ asset('uploads/images/' ~ coli.path) }}" alt="Colis" class="img-circle" width="35" height="35" onclick="image(this)">
                                     <br><br>
                                     <i class="fas fa-info-circle" style="font-size:26px;color:blue"></i>
                                    
                                     <table class="table">
                                     	 <tbody>
                                     	 	<tr>
                                     	 		<td><b>Titre:</b>&nbsp;{{ coli.titre}}</td>
                                     	 		<td><b>Type:</b>&nbsp;{{ coli.type}}</td>
                                     	 		<td><b>Description:</b>&nbsp;{{ coli.description}}</td>
                                     	 		<td><b>Code livraison:</b>&nbsp;{{ coli.codelivraison}}</td>

                                     	 	</tr>
                                     	 	<tr>
                                     	 		<td><b>Dimention colis:</b>&nbsp;{{ coli.dimensionColi}}</td>
                                     	 		<td><b>Poids colis:</b>&nbsp;{{ coli.poidsColis}}</td>
                                     	 		<td><b>Prix colis:</b>&nbsp;{{ coli.prixColis}}</td>
                                     	 		<td><b>Etat:</b>&nbsp;{{ coli.etat}}</td>
                                     	 	</tr>
                                     	 	<tr>
                                     	 		<td><b>Nom Receiver:</b>&nbsp;{{ coli.nomreceiver}}&nbsp;{{ coli.prenomreceiver}} </td>
                                     	 		<td><b>CIN Receiver:</b>&nbsp;{{ coli.cinreceiver}}</td>
                                     	 		<td><b>Email Receiver:</b>&nbsp;{{ coli.emailreceiver}}</td>
                                     	 		<td><b>Tel Receiver:</b>&nbsp;{{ coli.telreceiver}}</td>
                                     	 	</tr>
                                     	 </tbody>
                                     </table>
                                     <br>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
					
				</div>
{% endblock %}