{% extends 'AdminBundle:Default:index.html.twig' %}
{% block job %}
  <h3> Signaler({{ nb_sg }})</h3>
<table class="table" style="
    font-size: unset;">
  <thead style="background-color:#ffc800">
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Signaler par</th>
      <th scope="col">Raison</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
{% for sig in sig %}
    <tr>
      <th scope="row">
        <img src="{{ asset('uploads/images/' ~ sig.idannonceur.path) }}" width="35" height="35" style="border-radius:50%" onclick="image(this)"></th>

      <td><a href="#" style="color:blue">{{ sig.idannonceur.username }}</a></td>
      <td>{{ sig.raison }}</td>
      <td>{{ sig.datesignaler|date('y/m/d') }}</td>
      <td><div class="pull-right action-buttons"><a href="{{ path('/SupprimerSig',{'id':sig.id}) }}" class="trash">
        <em class="fa fa-trash" style="color:red"></em></a></div></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}